
.container{
  justify-content: center;
  align-items: center;
  width:25em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.email,.password{
  display: flex;
    flex-direction: column;
  
    width: 100%;
}
.email input,.password input{
  padding: .5rem;
  margin-top: 10px;
}
.forgotPassword{
  margin-left: auto;
}
button{
  width: 100%;
    margin-top: 10px
}